{% load static %}
{% load crispy_forms_filters %}

<div class="card m-3 col-2">
    {% if request.user.is_authenticated %}
        <form method="post" class="d-md-flex justify-content-md-end m-2" action="{{ product.id }}/as_favorite/">
            {% csrf_token %}
            {% if is_exists %}
                <button type="submit" class="btn justify">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M14 20.408c-.492.308-.903.546-1.192.709-.153.086-.308.17-.463.252h-.002a.75.75 0 01-.686 0 16.709 16.709 0 01-.465-.252 31.147 31.147 0 01-4.803-3.34C3.8 15.572 1 12.331 1 8.513 1 5.052 3.829 2.5 6.736 2.5 9.03 2.5 10.881 3.726 12 5.605 13.12 3.726 14.97 2.5 17.264 2.5 20.17 2.5 23 5.052 23 8.514c0 3.818-2.801 7.06-5.389 9.262A31.146 31.146 0 0114 20.408z"></path>
                    </svg>
                </button>
            {% else %}
                <button type="submit" class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill-rule="evenodd"
                              d="M6.736 4C4.657 4 2.5 5.88 2.5 8.514c0 3.107 2.324 5.96 4.861 8.12a29.66 29.66 0 004.566 3.175l.073.041.073-.04c.271-.153.661-.38 1.13-.674.94-.588 2.19-1.441 3.436-2.502 2.537-2.16 4.861-5.013 4.861-8.12C21.5 5.88 19.343 4 17.264 4c-2.106 0-3.801 1.389-4.553 3.643a.75.75 0 01-1.422 0C10.537 5.389 8.841 4 6.736 4zM12 20.703l.343.667a.75.75 0 01-.686 0l.343-.667zM1 8.513C1 5.053 3.829 2.5 6.736 2.5 9.03 2.5 10.881 3.726 12 5.605 13.12 3.726 14.97 2.5 17.264 2.5 20.17 2.5 23 5.052 23 8.514c0 3.818-2.801 7.06-5.389 9.262a31.146 31.146 0 01-5.233 3.576l-.025.013-.007.003-.002.001-.344-.666-.343.667-.003-.002-.007-.003-.025-.013A29.308 29.308 0 0110 20.408a31.147 31.147 0 01-3.611-2.632C3.8 15.573 1 12.332 1 8.514z"></path>
                    </svg>
                </button>
            {% endif %}
        </form>
    {% endif %}
    {% if product.image %}
        <img src="{{ product.image.url }}" class="img-fluid img-thumbnail" alt="{{ product.title }}">
    {% else %}
        <img src="{% static 'no-image.jpg' %}" class="img-fluid img-thumbnail" alt="{{ product.title }}">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title text-center bg-warning rounded-4 p-3">{{ product.title|title }}</h5>
        <div class="card-text bg-secondary rounded-4 py-3 my-3">№{{ product.external_id }}</div>
        <div class="card-text bg-info rounded-4 py-3 my-3">{{ product.cost }} BYN</div>

        <!-- Button trigger modal -->
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#users">
                Buyer list
            </button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#buy{{ product.id }}">
                Buy
            </button>
        </div>


        <!-- Modal for purchase -->
        <div class="modal fade" id="buy{{ product.id }}" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Enter quantity</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" action="{{ product.id }}/buy/">

                        <div class="modal-body">
                            {% csrf_token %}
                            {{ form|crispy }}

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Buy</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>

        <!-- Modal for buyers -->
        <div class="modal fade" id="users" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">User list</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        {% for user in user_list %}
                            {% if user.purchases.product_id == product.id %}
                                {{ user.email }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>