{% load static %}

<div class="card m-3 col-2">
    {% if request.user.is_authenticated %}
        {%  include "favorite_button.html" %}
    {% endif %}
    {% if product.image %}
        <img src="{{ product.image.url }}" class="img-fluid img-thumbnail" alt="{{ product.title }}">
    {% else %}
        <img src="{% static 'no-image.jpg' %}" class="img-fluid img-thumbnail" alt="{{ product.title }}">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title text-center bg-warning rounded-4 p-3">{{ product.title }}</h5>
        <div class="card-text bg-secondary rounded-4 py-3 my-3">№{{ product.external_id }}</div>
        <div class="card-text bg-info rounded-4 py-3 my-3">{{ product.cost }} BYN</div>

        <!-- Button trigger modal -->
        {% if request.user.is_authenticated %}
            <div class="d-flex justify-content-between">
            {% include "modal_buyer_list.html" %}
            {% include "modal_buy.html" %}
            </div>
        {% endif %}

    </div>
</div>