{% load static %}

<div class="card m-3 col-2">
    <form method="post" class="d-flex text-end justify-content-between py-2" action="{{ product.id }}/favorite/">
        {% csrf_token %}
        {% if product.favorite.exists %}
            <div class="d-inline bg-danger px-2 rounded">Mark</div>
        {% else %}
            <div></div>
        {% endif %}
        <button type="submit" class="btn btn-primary btn-sm">
            Mark as favorite
        </button>
    </form>
    {% if product.image %}
        <img src="{{ product.image.url }}" class="img-fluid img-thumbnail" alt="{{ product.title }}">
    {% else %}
        <img src="{% static 'no-image.jpg' %}" class="img-fluid img-thumbnail" alt="{{ product.title }}">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title text-center bg-warning rounded-4 p-3">{{ product.title|title }}</h5>
        <div class="card-text bg-info rounded-4 py-3 my-3">{{ product.external_id }}</div>
        <div class="card-text bg-info rounded-4 py-3 my-3">Cost: {{ product.cost }} BYN</div>
        <div class="d-flex justify-content-between">
            <button type="button" class="d-block btn btn-danger">Buy</button>
            <form class="d-block" method="get" action="about/">
                <button type="submit" class="btn btn-warning" name="id" value={{ product.id }}>
                    About
                </button>
            </form>
        </div>
    </div>
</div>