{% load static %}

<div class="card m-3 col-2">
    {% if purchase.product.image %}
        <img src="{{ purchase.product.image.url }}" class="img-fluid img-thumbnail" alt="{{ purchase.product }}">
    {% else %}
        <img src="{% static 'no-image.jpg' %}" class="img-fluid img-thumbnail" alt="{{ purchase.product }}">
    {% endif %}
    <div class="card-title text-center bg-warning rounded-4 p-3 mt-3">{{ purchase.product }}</div>
    <div class="card-text bg-info rounded-4 py-3 my-3">Quantity: {{ purchase.count }}</div>
</div>